*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: salmon;
}

h1 {
    margin: 2rem 0;
    margin-bottom: 0;
    font-size: 5rem;
    color: white;
    text-align: center;
}

.container-cards {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 30rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1.5rem;
    box-shadow: -20px -20px 0px 0px #fb968b;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: shadow-show;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
}
.card h1, .card h2, .card h3, .card h4, .card h5 {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #282828;
}
.card hr {
    display: block;
    border: none;
    height: 3px;
    background-color: salmon;
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
}
.card p {
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #282828;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}

.card a {
    width: max-content;
    margin-top: 1rem;
    align-self: center;

    cursor: pointer;
    text-decoration: none;
}
.card button {
    display: block;
    width: 15rem;
    border: none;
    background-color: salmon;
    padding: 10px 30px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    text-transform: uppercase;
    pointer-events: none;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
    from {
        margin: 0px 100px;
    }
    to {
        margin: 0px;
    }
}
/* Standard syntax */
@keyframes line-show {
    from {
        margin: 0px 100px;
    }
    to {
        margin: 0px;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
    from {
        color: white;
    }
    to {
        color: #282828;
    }
}
/* Standard syntax */
@keyframes p-show {
    from {
        color: white;
    }
    to {
        color: #282828;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
    from {
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
        box-shadow: -20px -20px 0px 0px #fb968b;
    }
}
/* Standard syntax */
@keyframes shadow-show {
    from {
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
        box-shadow: -20px -20px 0px 0px #fb968b;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }

    .card button {
        width: 12rem;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 4rem;
    }

    .card {
        width: 100%;
    }

    .card h1, .card h2, .card h3, .card h4, .card h5 {
        font-size: 1.6rem;
    }

    .card button {
        width: 11rem;
    }
}
