*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

:root {
  --box-border: 2px; 
  --width: 60%;
}

body {
  box-sizing: border-box;
}

body {
  padding: 2rem 0;
  min-height: 100vh;
}

.score-container {
  display: flex;
  justify-content: space-between;

  width: var(--width);
  margin: 1rem auto;
}

.box-container {
  display: flex;
  margin: 1rem auto;

  width: var(--width);
  height: 9rem;
}

.box-container > *+* {
  margin-left: calc(-1 * var(--box-border));
}

.box {
  width: 100%;
  background-color: rgb(240, 240, 240);
  border: var(--box-border) solid black;
}

button {
  display: block;
  margin: 0 auto;
  padding: .4rem 1rem;
}
