*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.fa {
    font-size: 3rem;
}

.fa-star-o:before {
    content: "\f006";
    color: #5f6368;
}

.fa-star:before {
    content: "\f005";
    color: #d56e0c;
}

.star-number {
    text-align: center;
}